h2.collection-header {
	background-color: var(--background-color);
	color: var(--header-color);
	font-size: clamp(2rem, 5vw, 4rem);
	font-variant: small-caps slashed-zero;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	overflow: none;
	z-index: 2;
	margin: 0 auto;
}

